@model TEST.Models.BACSI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="wrapper">
    <h2 style="text-align:center">THÔNG TIN CHI TIẾT</h2>
    <div class="form">
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.TENBS)</label>
            <p class="form-control">@Html.DisplayFor(model => model.TENBS)</p>
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.NGAYSINHBS)</label>
            <p class="form-control">@Html.DisplayFor(model => model.NGAYSINHBS)</p>
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.SDTBS)</label>
            <p class="form-control">@Html.DisplayFor(model => model.SDTBS)</p>
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.DIACHIBS)</label>
            <p class="form-control">@Html.DisplayFor(model => model.DIACHIBS)</p>
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.CHUYENMON)</label>
            <p class="form-control">@Html.DisplayFor(model => model.CHUYENMON)</p>
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.TRINHDO)</label>
            <p class="form-control">@Html.DisplayFor(model => model.TRINHDO)</p>
        </div>
    </div>
</div>
<div style="text-align:center">
    @Html.ActionLink("Trở lại", "Index")
</div>
