@model TEST.Models.BACSI

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Edit", "BACSIs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <h3 style="text-align:center">SỬA THÔNG TIN</h3>
        <div class="form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MABS)

            <div class="form-group">
                @Html.LabelFor(model => model.TENBS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENBS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENBS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NGAYSINHBS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NGAYSINHBS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NGAYSINHBS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SDTBS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SDTBS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SDTBS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DIACHIBS, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DIACHIBS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DIACHIBS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CHUYENMON, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.RadioButtonFor(model => model.CHUYENMON, "Khám Nội", new { @checked = "checked" })&nbsp;Khám Nội&nbsp;
                        @Html.RadioButtonFor(model => model.CHUYENMON, "Khám Ngoại")&nbsp;Khám Ngoại
                        @Html.ValidationMessageFor(model => model.CHUYENMON, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TRINHDO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.RadioButtonFor(model => model.TRINHDO, "Chuyên Khoa I", new { @checked = "checked" }) &nbsp;Chuyên Khoa I
                        <br />
                        <p>@Html.RadioButtonFor(model => model.TRINHDO, "Chuyên Khoa II", new { @checked = "checked" }) &nbsp;Chuyên Khoa II</p>
                        @Html.ValidationMessageFor(model => model.TRINHDO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ANHBS, "Ảnh Đại Diện", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" style="height:20px;" name="Avatar" accept="image/*" required />
                    @Html.ValidationMessageFor(model => model.ANHBS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn" />
                </div>
            </div>
            <div style="text-align:center">
                @Html.ActionLink("Trở Lại", "Index")
            </div>
        </div>
    </div>
    
}

