@model IEnumerable<TEST.Models.CT_HSBA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tình Trạng
        </th>
        <th>
            Bác Sĩ Khám
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.MAHSBA == 1)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TINHTRANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BACSI.TENBS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    }
}

</table>
