@model TEST.Models.BENHNHAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BENHNHAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYSINHBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYSINHBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHIBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHIBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOITINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOITINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BHYT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BHYT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
